
#invalid-pwd-alert{
    display: none;
}

body {
  background: linear-gradient(to right, #e0f7fa, #f1f8e9);
}

#strength-bar {
  width: 0%;
  transition: width 0.4s ease-in-out;
}

#strength-icon {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
}



.progress {
  margin-top: 1rem;
  border-radius: 0.375rem;
  height: 1.25rem;
}


span.strength {
    display: none;
}

.sansita-regular {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sansita-bold {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.sansita-extrabold {
    font-family: "Sansita", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.sansita-black {
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.sansita-regular-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.sansita-bold-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.sansita-extrabold-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.sansita-black-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 900;
    font-style: italic;
}